<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Liste de Joueurs</th>
          </tr>
        </thead>
        <tr>
          <th>ID</th>
          <th>Nom Joueur</th>
          <th>Âge</th>
          <th>Date de Naissance</th>
      
        </tr>

        @for (joueur of joueurs; track joueur.idJoueur) {
        <tbody>
          <tr>
            <td>{{ joueur.idJoueur }}</td>
            <td>{{ joueur.nomJoueur }}</td>
            <td>{{ joueur.age }}</td>
            <td>{{ joueur.dateNaissance | date : "dd/MM/yyyy" }}</td>
          </tr>
        </tbody>
        }
      </table>
    </div>
  </div>
</div>
